*.[oa]
*.mod
*~
.#*
\#*#
tmp/
*.swp*
deploy.git/
nemo/NEMO/external/*
!nemo/NEMO/external/README
diag/build/*
rtd/build/*
nemo/TOOLS/REBUILD_NEMO/src/build/*
!diag/build/Makefile
!diag/build/comp_env
!rtd/build/Makefile
!rtd/build/comp_env
!nemo/TOOLS/REBUILD_NEMO/src/build/Makefile
!nemo/TOOLS/REBUILD_NEMO/src/build/comp_env
