*~
.#*
\#*#
tmp/
*.swp*
*.sw?
*.bak
deploy.git/
core.git.*
#.gitignore
nemo/mk/tools.txt
nemo/mk/cpp_tools.fcm

# ignore everything in the build directories except Makefiles and environment files
diag/build/*
rtd/build/*
!diag/build/Makefile
!diag/build/compile.*
!rtd/build/Makefile
!rtd/build/compile.*
!nemo/TOOLS/REBUILD_NEMO/src/build/Makefile
!nemo/TOOLS/REBUILD_NEMO/src/build/compile.*

# ignore any xios files created during XIOS compilation
nemo/xios-2.6/fcm.bld.lock
nemo/xios-2.6/inc/*

nemo/ARCH/arch-imsi.fcm
