*.[oa]
*.mod
*~
.#*
\#*#
tmp/
*.swp*
*.sw?
*.bak
deploy.git/
core.git.*
.gitignore

# ignore everything in the build directories except Makefiles and environment files
nemo/tools/*/BLD
nemo/cfgs/*/BLD
nemo/cfgs/*/WORK
nemo/cfgs/*/EXP00
diag/build/*
rtd/build/*
nemo/tools/REBUILD_NEMO/src/build/*
nemo/tools/*/*.exe
!diag/build/Makefile
!diag/build/compile.*
!rtd/build/Makefile
!rtd/build/compile.*
!nemo/tools/REBUILD_NEMO/src/build/Makefile
nemo/cfgs/work_cfgs.txt
nemo/mk/arch.history
nemo/mk/arch_nemo.fcm
nemo/mk/cpp.fcm
nemo/mk/cpp.history
nemo/mk/full_key_list.txt
nemo/mk/arch_tools.fcm
nemo/src/CanCPL/cppdef_config.h90 
nemo/src/CanCPL/cppdef_sizes.h90


#ignore xios-2.6 compiled files.
nemo/xios-2.6/fcm.bld.lock
nemo/xios-2.6/tools/FCM
nemo/xios-2.6/extern/netcdf4
nemo/xios-2.6/.void_file
nemo/xios-2.6/.cache
nemo/xios-2.6/.svn
nemo/xios-2.6/Makefile
nemo/xios-2.6/arch.env
nemo/xios-2.6/arch.fcm
nemo/xios-2.6/arch.path
nemo/xios-2.6/bin/
nemo/xios-2.6/bld_dir.cfg
nemo/xios-2.6/cfg/
nemo/xios-2.6/config.fcm
nemo/xios-2.6/done/
nemo/xios-2.6/etc/
nemo/xios-2.6/fcm_env.ksh
nemo/xios-2.6/fcm_env.sh
nemo/xios-2.6/flags/
nemo/xios-2.6/inc/
nemo/xios-2.6/ppsrc/

