*~
.#*
\#*#
tmp/
*.swp*
*.sw?
*.bak
deploy.git/
core.git.*

# ignore everything in the build directories except Makefiles and environment files
tools/*/BLD
cfgs/*/BLD
cfgs/*/WORK
cfgs/*/EXP00
tools/REBUILD_NEMO/src/build/*
tools/*/*.exe
!tools/REBUILD_NEMO/src/build/Makefile
cfgs/work_cfgs.txt
mk/arch.history
mk/arch_nemo.fcm
mk/cpp.fcm
mk/cpp.history
mk/full_key_list.txt
mk/arch_tools.fcm

*.svn

#ignore xios compiled files.
xios-2.6/tools/FCM
xios-2.6/extern/netcdf4
xios-2.6/.void_file
xios-2.6/.cache
xios-2.6/Makefile
xios-2.6/arch.env
xios-2.6/arch.fcm
xios-2.6/arch.path
xios-2.6/bin/
xios-2.6/bld_dir.cfg
xios-2.6/cfg/
xios-2.6/config.fcm
xios-2.6/done/
xios-2.6/etc/
xios-2.6/fcm_env.ksh
xios-2.6/fcm_env.sh
xios-2.6/flags/
xios-2.6/inc/
xios-2.6/lib/
xios-2.6/obj/
xios-2.6/ppsrc/
xios-2.6/fcm.bld.lock

